div.content{
    width: 500px;
    margin: auto;
}
#dragDropArea{
    background-color: #f4f4f4;
    margin: 10px;
    padding: 10px;
    border: #ddd dashed 5px;
    border-radius: 15px;
    min-height: 200px;
    text-align: center;
  }
  #dragDropArea p{
      color: #999;
      font-weight: bold;
      font-size: 14px;
      font-size: 1.4em;
  }
#dragDropArea .drag-drop-buttons{
    margin-top: 20px;
    font-size: 12px;
    font-size: 1.2em;
}
.drag-drop-buttons input{
    margin: auto;
}

p.select-title{
    margin: 0 auto;
}
div.attention{
    margin-bottom: 20px;
}
p.attention{
    color: #999;
    font-size: small;
    margin-bottom: 5px;
}